tr.event_data td,tr.event_data th {
	text-align: center;
}

tr.form-field label{
	min-width:300px;
}

tr.form-field input[type="radio"]{
	width: 5%;
}

.no_data{
	text-align:center;
	color:red !important;
}

.text_left{
	text-align: left !important;
}